{% extends "_base.html" %}

{% block body %}
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="#">iMetric Prototype</a>
    </div>
  </div>
</nav>
<!-- Input -->
<div class="container">
  <textarea class="form-control" rows="5" id="comment" placeholder="Protein Sequence"></textarea>
  <br>
  <button class="btn btn-default pull-right" type="button">Go!</button>
</div>
<!-- Output -->
<div class="container">
</div>

{% endblock %}
