{% extends "_base.html" %}

{% block head %}
<link rel="stylesheet" href="static/css/spinner.css"></link>
<script src="static/js/jquery-1.11.3.min.js" type="text/javascript"></script>
<script type="text/javascript">
jQuery(document).ready(function() {
  // Instantiate a slider
  var mySlider = $("input.slider").slider();

  $('#submit-button').click(function() {
    $('#submit-button').prop("disabled",true);
    $('.sk-fading-circle').show();
    $('#results').hide();
    $('.panel-body').contents().remove();
    var url = 'query/';
    url += $('textarea#sequence').val();
    //alert(url)
    jQuery.getJSON(url, {}, function(data) {
      results = data[$('textarea#sequence').val()];
      $('.panel-body').append(results['iedb_mhci']);
      //alert(results['iedb_mhci']);

      //alert( obj.name === $('textarea#sequence').val() );
      //alert(data[$('textarea#sequence').val()]);
      $('#submit-button').prop("disabled",false);
      $('.sk-fading-circle').hide();
      $('#results').fadeIn();
    });
  });

  $('#test-data-button').click(function() {
    $('textarea#sequence').val('MAAAGSRKRRLAELTVDEFLASGFDSESESESENSPQAETREAREAARSPDKPGGSPSAS');
  });

  $('.sk-fading-circle').hide();
  $('#results').hide();
});
</script>

{% endblock %}


{% block body %}
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="#">iMetric</a>
    </div>
  </div>
</nav>
<!-- Input -->
<div class="container">

  <textarea class="form-control" rows="5" id="sequence" placeholder="Protein Sequence"></textarea>
  <br>
  <button class="btn btn-info pull-left" id="test-data-button" type="button">
    <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
    Test Data
  </button>
  <button class="btn btn-success pull-right" id="submit-button" type="button">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    Submit
  </button>
</div>
<br>
<div class="sk-fading-circle">
  <div class="sk-circle1 sk-circle"></div>
  <div class="sk-circle2 sk-circle"></div>
  <div class="sk-circle3 sk-circle"></div>
  <div class="sk-circle4 sk-circle"></div>
  <div class="sk-circle5 sk-circle"></div>
  <div class="sk-circle6 sk-circle"></div>
  <div class="sk-circle7 sk-circle"></div>
  <div class="sk-circle8 sk-circle"></div>
  <div class="sk-circle9 sk-circle"></div>
  <div class="sk-circle10 sk-circle"></div>
  <div class="sk-circle11 sk-circle"></div>
  <div class="sk-circle12 sk-circle"></div>
</div>
<!-- Output -->
<div class="container" id="results">
  <div class="panel panel-primary">
    <div class="panel-heading">Output</div>
    <br>
    <div class="container" style="text-align:center;">
      <input class="slider"></input>
    </div>
    <div class="panel-body">
    </div>
  </div>
</div>

{% endblock %}
